.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.modal-content {
    width: 500px;
    background-color: #fff;
    transform: translateY(-200px);
    transition: all 0.3s ease-in-out;
}

.modal-header,
.modal-footer{
    padding: 10px;
}
.modal-title{
    margin: 0;
}

.modal-container.show .modal-content{
    transform: translateY(0);
}


.modal-container.show{
    opacity: 0;
    pointer-events:visible;
}

.modal-container.enter-done{
    opacity: 1;
    pointer-events:visible;
}

.modal-container.exit{
    opacity: 0;
}

.modal-container.enter-done .modal-content{
    transform: translateY(0);
}

.modal-container.exit .modal-content{
    transform: translateY(-200px);
}